$base-font: 0.9rem Helvetica, "Trebuchet MS", Verdana, sans-serif;
$title-font: bold 1.5rem "Lucinda Console", monospace;
$subtitle-font: 1.2rem "Lucinda Console", monospace;
$nav-font: Arial, Helvetica, sans-serif;
