.headerImg{
  // padding-top: 7px;
  overflow: auto;
  margin: 0 auto;
  background-color: white;
  display: block;
  width: 33%;
  // max-width: 1024px;
  height: auto;
}

.bannerimage{
  overflow: hidden;
  background-color: white;
  list-style: none;
  display: block;
  width: 100%;
  margin: 0 1em 0 0;
}
